* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 0.7em;
}

/* Color Variables */

/* 
Lavender #7477BF
Purple #4d4c72
Green #78CF82
Teal #51B6C8
Gray #b2b2b2
*/

/* ----------------------------*/
/* Grid Layout */
/* ----------------------------*/

/* Outer Grid */

.grid-container {
    min-width: 320px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "nav"
        "main";
}

.grid-header {grid-area: header;}
.grid-nav {grid-area: nav;}
.grid-main {grid-area: main;}

/* Dashboard Grid */

.dbgrid-container {
    display: grid;
}

.widget-container-full, .widget-container-half {
    width: 95vw;
    padding-left: 20px;
}

/* ----------------------------*/
/* Header Styles */
/* ----------------------------*/

header {
    background-color: #7477BF;
    display: flex;
    flex: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 2vw 4vw;
    color: white;
}

header h1 {
    align-self: flex-start;
    margin:  3% 0 3% 0;
}

header h1 sup {
    font-size: 0.3em;
    vertical-align: 1.1em;
}

#notification-bell {
    position: relative;
    margin: 3% 3% 3% auto;
    border-right: 1px solid #4d4c72;
    padding-right: 2%;
    height: 8vw;
    width: 7vw;
    opacity: 0.8;
}

#notification-bell:hover {
    opacity: 1;
}

#notification-bell img {
    height: 100%;
    width: 100%;
    max-height: 50px;
    max-width: 40px;
}

#notification-dot {
    position: absolute;
    bottom: 65%;
    left: 40%;
    z-index: 99;
    background-color: #78CF82;
    width: 40%;
    height: 25%;
    border-radius: 50%;
}

#notifications {
    display: none;
    position: relative;
    bottom: 40%;
    right: 75px;
    background-color: whitesmoke;
    border: 1px solid gray;
    color: black;
    width: 200px;
}
.notification-item {
    border-bottom: 1px solid gray;
    background-color: whitesmoke;
    padding: 5px;
    cursor: pointer;
}

.notification-item:hover {
    background-color: white;
}

#notifications p {
    display: inline-block;
}

#notifications span {
    float: right;
}

#profile-img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 3% 3% 3% 0;
}

header h3 {
    margin: 3% 0 3% 0;
    max-width: 25%;
}

/* Navigation Styles */

nav {
    background-color: #4d4c72;
    display: flex;
    flex-direction: row;
    justify-content:  space-around;
    padding: 1% 2%;
}

nav a {
    height: 40px;
    width: 25px;
}

#dashboard-icon {
    background: url("../icons/icon-dashboard.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%, 100%;
    opacity: 0.8;
}
#member-icon {
    background: url("../icons/icon-members.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%, 100%;
    opacity: 0.8;
}
#visits-icon {
    background: url("../icons/icon-visits.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%, 100%;
    opacity: 0.8;
}
#settings-icon {
    background: url("../icons/icon-settings.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%, 100%;
    opacity: 0.8;
}

#dashboard-icon:hover,
#member-icon:hover,
#visits-icon:hover,
#settings-icon:hover {
    opacity: 1.0;
}

/* ----------------------------*/
/* Main Dashboard Styles */
/* ----------------------------*/

main {
    background-color: white;
    color: grey;
}

main h3 {
    width: 100%;
    padding: 20px;
    text-transform: uppercase;
}


/* Dashboard Header Styles*/

.dbgrid-header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}

.dbgrid-header h2 {
    padding: 1%;
}

#search {
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    width: 100%;
    background-color: whitesmoke;
    padding: 2%;
}

#search input {
    border: 1px solid lightgrey;
    height: 2.7em;
    width: 100%;
    border-radius: 5px;
    text-indent: 10px;
}

#alert {
    width: 100%;
    padding: 2%;
}

.alert-banner {
    background-color: #7477BF;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1% 2%;
    border-radius: 5px;
    font-size: 1.2em;
}

.alert-banner-close {
    cursor: pointer;
}
/* Trafffic Chart Section Styles*/

.dbgrid-traffic ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
}

.dbgrid-traffic ul li {
    padding: 5px 10px;
    margin: 2%;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.3em;
}

.dbgrid-traffic ul li:hover {
    background-color: #78CF82;
    color: white;
}

/* Social Stats Section Styles*/

.dbgrid-social {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.social-container {
    display: inline-flex;
    padding: 2.5% 5%;
    width: 60%;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    margin: 1%;
    border-radius: 5px;
}

.social-image {
    width: 50px;
    height: 50px;
    margin: 4% 0;
    padding: 2%;
    background-color:  #7477BF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}

.social-logo {
    width: 75%;
    height: 75%;
}

.social-logo path {
    fill: white;

}

.social-text {
    margin: 5px;
}

.social-text p:first-of-type {
    color: #7477BF;
    font-size: 1.4em;
}

.social-text p:last-of-type {
    font-size: 3em;
}

/* New Memebr and Recent Activity Sections Styles*/

.dbgrid-members, 
.dbgrid-recent {
    display: flex;
    flex-direction: column;
}

.new-member-row, 
.recent-activity-row {
    padding: 2% 20px;
    display: flex;
    font-size: 1.2em;
}

.new-member-row img, 
.recent-activity-row img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 2%;
}

.new-member-row div,
.recent-activity-row div {
    width: 65%;
}

.new-member-row a {
    color: #7477BF;
    font-size: 0.9em;
}

.member-date, .greaterthan {
    margin-left: auto;
    padding: 2.5%;
}

.greaterthan {
    font-size: 2em;
}

/* Message User and Settings Sections Styles*/

.dbgrid-message input,
.dbgrid-message textarea,
.dbgrid-message button,
.dbgrid-settings select,
#timezone {
    width: 90%;
}

.dbgrid-message input,
.dbgrid-message textarea,
.dbgrid-settings select {
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 2.5%;
    margin: 2.5% 5%;
    text-indent: 5px;
}

.dbgrid-message input {
    height: 3em;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    width: 90%;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.dbgrid-message textarea {
    height: 10em;
}

.dbgrid-message button, 
.dbgrid-settings button {
    color: white;
    border-radius: 5px;
    border: none;
    margin: 1% 5%;
    height: 3em;
}

.dbgrid-settings button {
    width: 39.5vw;
}

.dbgrid-message button,
.button-primary {
    background-color: #7477BF;
}

.button-disabled {
    background-color: #b2b2b2;
}

.switch-light {
    display: flex;
    margin: 3% 27% 3% 5%;
}
.switch-ios.switch-light > span {
     width: 100px;
     margin-left: auto;
 }

/* ----------------------------*/
/* Media Queries */
/* ----------------------------*/

/* 768px Media Query */

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
            "header header"
            "nav main";
    }

    .dbgrid-container {grid-template-columns: 50%;}

    .widget-container-full {width: 90vw;}
    .widget-container-half {width: 45vw;}

    .dbgrid-header,
    .dbgrid-traffic,
    .dbgrid-social {
        grid-column: 1 / span 2;
    }

    .dbgrid-daily,
    .dbgrid-members,
    .dbgrid-message {
        grid-column: 1 / span 1;
    }

    .dbgrid-mobile,
    .dbgrid-recent,
    .dbgrid-settings {
        grid-column: 2 / span 1;
    }


    header {
        padding: 1vw 3vw;
    }

    header h1 {
        align-self: flex-start;
        margin:  3% 0 3% 0;
        font-size: 3em;
    }

    #profile-img {
        height: 40px;
        width: 40px;
    }

    header h3 {
        font-size: 1.5em;
    }

    #notification-bell {
        margin: 2% 2% 2% auto;
        border-right: 2px solid #4d4c72;
        height: 5vw;
        width: 5vw;
    }

    #notification-dot {
        bottom: 65%;
        left: 30%;
        width: 30%;
        height: 25%;
    }

    nav {
        flex-direction: column;
        justify-content:  flex-start;
        align-items: center;
        padding: 20px 10px 0 10px;  
    }

    nav a {
        height: 45px;
        width: 100%;
        margin: 20% 0;
    }

    .dbgrid-header {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
    }

    .dbgrid-header h2 {
        width: 20%;
        border-right: 1px solid lightgrey;
        padding: 16px 4%;
        text-align: center;
    }

    #search {
        width: 80%;
        padding: 10px;
    }

    #search input {
        width: 50%;
        float: right;
    }

    .dbgrid-traffic h3 {
        display: inline-block;
        width: 20%;
    }

    .dbgrid-traffic ul {
        display: inline-flex;
        width: 40%;
        float: right;
        padding: 20px;
    }

    .dbgrid-traffic ul li {
        padding: 5px 15px;
        margin:  0 2%;
    }

    .dbgrid-social {
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .dbgrid-social h3 {
        width: 100%;
    }

    .social-container {
        width: 30%;
        padding: 2%;
    }
    
    .new-member-row div,
    .recent-activity-row div {
        max-width: 75%;
    }

    .dbgrid-settings button,
    #timezone {
        width: 42vw;
    }
}

/* 1024px Media Query */

@media (min-width: 1024px) {    
    header {
        padding: 0vw 3vw;
    }

    #notification-bell {
        margin: 2% 1% 1% auto;  
    }

    #notification-dot {
        bottom: 67%;
        left: 30%;
        width: 25%;
        height: 20%;
    }

    main h3 {
        font-size: 1.5em;
    }

    .dbgrid-header h2 {
        font-size: 2em;
    }

    #search {
        padding: 13px;
    }

    #alert {
        padding: 2.5%;
    }

    .new-member-row div,
    .recent-activity-row div {
        max-width: 85%;
    }

}